:root {
  --bg: rgb(231, 231, 231);
  --white: white;
  --lightGrey: rgb(185, 185, 185);
  --black: rgb(0, 0, 0);
  --gridBoxShd: 1px 1px 8px 8px rgb(160, 160, 160);
  --borderBot: 1px solid rgb(218, 217, 217);
}
body {
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.flex-col {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.hor-center {
  justify-content: center;
}
.ver-center {
  align-items: center;
}
#header {
  justify-content:space-between;
  margin-top: 70px;
  padding:0 10px;
  width: 1200px;
}
#project-header{
  justify-content:space-between;
  margin-top: 70px;
  padding:0 20px;
  width: 1200px;
}
/* iframe{
  filter:grayscale(99%)
} */
#mode {
  cursor: pointer;
  position: relative;
  height: 34px;
  width: 70px;
  border-radius: 20px;
  transition: 0.6s;
  background-color: var(--lightGrey);
}
#mode:hover {
  transition: 0.4s;
  box-shadow: 1px 1px 8px 8px rgb(132, 132, 132);
}
#onOffBtn {
  position: absolute;
  top: 4px;
  left: 5px;
  transition: 0.2s;
  height: 26px;
  width: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  background-color: var(--white);
  color: var(--black);
  overflow: hidden;
}
#modeName {
  position: absolute;
  top: 3px;
  left: 31px;
  font-size: 18px;
  font-weight: 600;
  color: var(--white);
}
#navContainer {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
  width: 460px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  background-color: var(--white);
  transition: 0.6s;
}
#project-navContainer{
  gap: 6px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 6px;
  border-radius: 50px;
  background-color: var(--white);
  transition: 0.6s;
}
.parent-nav-cont-index{
z-index:1;

}
#contactParent {
  height: 60px;
}
#contact {
  cursor: pointer;
  padding: 4px 18px;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  color: var(--black);
  background-color: var(--white);
  transition: 0.4s;
}
#contact:hover {
  transition: 0.4s;
  border: 6px solid rgb(0, 0, 0);
  padding: 6px 18px;
  font-size: 20px;
}
.nav-options {
  transition: 0.2s;
  width: fit-content;
  cursor: pointer;
  color: var(--black);
}
.nav-options:hover {
  transition: 0.4s;
  color: rgb(133, 132, 132);
}
.grid-items {
  background-color: var(--white);
  border-radius: 50px;
  transition: 0.8s;
}
.grid-items:hover {
  transition: 0.8s;
  translate: -2px 8px;
  box-shadow: var(--gridBoxShd);
}
.item1 {
  grid-column: 1/3;
}
.item3 {
  grid-row: 1/3;
  grid-column: 4/4;
}
.item4 {
  grid-row: 2/4;
  grid-column: 1/1;
}
.item5 {
  grid-row: 2/2;
  grid-column: 2/4;
}
.item6 {
  grid-row: 3/5;
  grid-column: 2/2;
}
.item7 {
  grid-row: 3/5;
  grid-column: 3/3;
}
.item11 {
  grid-row: 5/5;
  grid-column: 1/3;
}
.item12 {
  grid-row: 5/5;
  grid-column: 3/5;
}
/*bio*/
#bio {
  gap: 12px;
}
#name,
#tagLine,
#about,
#SeeMyWork,
#LearnMore,
#skill {
  color: var(--black);
}
#name {
  font-size: 50px;
  font-weight: 900;
}
/*project.html*/
.parent-prj-Cont-heading {
  font-size: 50px;
  font-weight: 600;
}
.parent-prj-thumbnail {
  width: 1000;
  height: 400px;
  background-color: grey;
  border-radius: 30px;
}
#tagLine,
.prj-abb {
  font-size: 26px;
  font-weight: 600;
}
.prj-parent-Cont {
  margin-top: 140px;
  margin-bottom: 140px;
  gap: 100px;
}
#about{
  font-size: 18px;
  width: 480px;
  text-align: center;
}
.gap-bio {
  gap: 30px;
}
.parent-see-my-work-learn-more {
  width: 160px;
  height: 66px;
}
#SeeMyWork,
#LearnMore {
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  border-radius: 30px;
  padding: 6px 14px;
  border: 6px solid var(--lightGrey);
  border: 6px solid rgb(0, 0, 0);
  transition: 0.4s;
}
#LearnMore {
  border: 6px solid var(--lightGrey);
}
#SeeMyWork:hover,
#LearnMore:hover {
  transition: 0.4s;
  padding: 8px 16px;
  font-size: 19px;
}
/*gallery*/
#slider {
  position: relative;
  border-radius: 50px;
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.slides{
  display: flex;
  height: 280px;
  width: 500%;
  border-radius: 50px;
  
}
.slide{
  width: 20%;
  border-radius: 50px;
  transition: 0.6s;
}
.image {
  width: 280px;
  height: 280px;
  background:cover;
  border-radius: 50px;
}
.gallery-btns {
  position: absolute;
  gap: 40px;
  border-radius: 50px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: center;
}
#prev,
#next {
  cursor: pointer;
  transition: 0.6s ease;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
#prev:hover,
#next:hover {
  transition: 0.6s ease;
  box-shadow: 0px 0px 0px 8px rgba(181, 179, 179,0.6);
}
.radio-btns {
  gap: 8px;
}
.dot {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px;
  border-radius: 6px;
}
.active,.dot:hover {
  background-color: rgba(255, 255, 255, 1);
}
/*skill*/
#skill {
  padding: 20px 0px;
}
#skillHeading,
#toolHeading,.inter-heading {
  font-size: 34px;
  font-weight: 700;
}
.skill-icons {
  width: 40px;
  height: 40px;
}
.skill-gap,
.tool-gap {
  gap: 24px;
}
.skills-name,
.tools-name {
  font-size: 18px;
  font-weight: 600;
}
.skills-name:hover,
.tools-name:hover {
  color: grey;
}
.icon-name-pairing,
.tool-name-pairing {
  width: fit-content;
  gap: 30px;
}
.icon-border,
.tool-border {
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(212, 209, 209);
  padding: 6px;
}
.icon-bottom-line,
.tool-bottom-line {
  border-bottom: var(--borderBot);
}
.tool-bottom-line {
  font-size: 14px;
  font-weight: 600;
}
/*tool*/
#tool {
  padding: 20px 0px;
  gap: 16px;
  color: var(--black);
}
/*map*/
#map{
width: 100%;
height:100%;
}
/*interaction*/
#interaction{
  padding:20px 0px ;
}
/*socialmedia*/
#linkedIn,
#twitter,
#github,
#instagram {
  position: relative;
}
#linkedIn {
  background-color: rgb(2, 136, 209);
}
#twitter {
  background-color: rgb(3, 141, 255);
}
#github {
  background-color: rgb(0, 0, 0);
}
#twitter,
#github {
  padding: 100px 0px;
}
#instagram {
  padding: 110px 0px;
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
#instagramIcon {
  gap: 60px;
  width: 70px;
  height: 70px;
}
#twitterIcon,
#githubIcon,
#linkedInIcon {
  width: 100px;
  height: 100px;
}
#arrowBtn {
  position: absolute;
  right: 30;
  bottom: 30;
  transition: 0.4s;
  cursor: pointer;
  background-color: rgb(40, 40, 40);
  opacity: 0.8;
  padding: 10px;
  border-radius: 14px;
}
.arrow-icon {
  width: 20px;
  height: 20px;
}
#arrowBtn:hover {
  transition: 0.4s;
  box-shadow: 0px 0px 0px 8px rgba(180, 180, 180, 0.8);
}
/*projects*/
#project1,
#project2 {
  padding: 40px;
  gap: 10px;
}
.prj-heading,
.built {
  color: grey;
  font-size: 14px;
  font-weight: 600;
}
.prj-name {
  font-size: 32px;
  font-weight: 800;
  color: var(--black);
}
.tech-icon {
  width: 34px;
  height: 34px;
}
.prj-thumb-img {
  width: 200px;
  height: 280px;
  border-radius: 20px;
}
.prg-btn-image {
  width: 40px;
  height: 40px;
}
.prj-fot-gap {
  gap: 16px;
}
.prj-footer-heading {
  cursor: pointer;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
  background-color: var(--white);
  padding: 6px 8px;
  border-radius: 30px;
  border: 6px solid var(--lightGrey);
}
.prj-footer-heading:hover {
  transition: 0.4s;
  border: 6px solid rgb(0, 0, 0);
  padding: 7px 8px;
  font-size: 15px;
}
.parent-prj-footer {
  width: 130px;
  height: 36px;
}
a {
  text-decoration: none;
}
#interaction{
  color:var(--black);
  gap:16px;
}
.interactions-thumbnail{
  width: 110px;
  height: 60px;
  border-radius: 14px;
  background-image: cover;
}
.inter-contents{
  gap:16px;
}
.inter-name{
  font-size: 14px;
  font-weight: 600;
}
.inter-cards{
  position:relative;
  cursor: pointer;
  color:var(--black);
  gap:4px;
  padding: 10px 6px;
  border-radius: 12px;
}
.inter-cards:hover
{
  box-shadow: 1px 1px 6px 2px  rgb(161, 160, 160);
  opacity: 0.6; 
}
.inter-links{
  position: absolute;
  top: 30px;
  left:90px;
  display: none;
  }
.inter-cards:hover .inter-links{
display: block;
}
.inter-links-icon{
width: 24px;
height: 24px;
}
@media screen and (min-width:1240px){
  #main {
    margin: 140px auto 140px auto;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(5,280px);
    gap: 20px;
  }
}
@media screen and (max-width:1239px){
  #header,#project-header{
    width: 1000px;
  }
  #navContainer {
    left: 48%;
    transform: translateX(-48%);
  }
  #main {
    margin: 100px auto 100px auto;
    grid-template-columns: repeat(4, 234px);
    grid-template-rows: repeat(5,234px);
    gap: 20px;
  }
  .grid-items:hover {
  transition: 0.8s;
  translate: -1px 6px;
  box-shadow: var(--gridBoxShd);
  }
#name {
    font-size: 40px;
    font-weight: 900;
}
#tagLine, .prj-abb {
  font-size: 20px;
  font-weight: 600;
}
#about {
  font-size: 14px;
  width: 380px;
  text-align: center;
}
  #slider,.image {
  width: 234px;
  height: 234px;
  }
  .gallery-btns { 
  padding-bottom: 18px;
  gap: 24px;
  }
  #skillHeading,
#toolHeading,.inter-heading {
  font-size: 28px;
  font-weight: 700;
}
.skill-icons {
  width: 36px;
  height:36px;
}
.skill-gap{
  gap:19px;
}
.tool-gap {
  gap: 16px;
}
.icon-name-pairing,
.tool-name-pairing {
  width: fit-content;
  gap:16px;
}
.interactions-thumbnail{
  width: 90px;
  height:50px;
  border-radius: 10px;
  
}
.inter-contents{
  gap:10px;
}
#project1,
#project2 {
  padding:24px;
  gap: 8px;
}
.prj-thumb-img {
  width: 180px;
  height: 220px;
  border-radius: 20px;
}
.parent-prj-thumbnail {
    width: 900;
    height: 375px;
}
}
@media screen and (max-width:1023px){
  #header,#project-header{
    width: 750px;
  }
  .prj-thumb-img {
    width: 160px;
    height: 200px;
  }
  #navContainer {
    left: 46%;
    transform: translateX(-46%);
  }
  #main {
    margin: 100px auto 100px auto;
    grid-template-columns: repeat(3,234px);
    grid-template-rows: repeat(7,234px);
    gap: 14px;
  }
   .grid-items:hover {
  transition: 0.8s;
  translate: 0px 4px;
  box-shadow: var(--gridBoxShd);
  }
#name {
    font-size: 40px;
    font-weight: 900;
}
#tagLine, .prj-abb {
  font-size: 20px;
  font-weight: 600;
}
#about {
  font-size: 14px;
  width: 380px;
  text-align: center;
}
.item1 {
  grid-column: 1/3;
}
.item8{
   grid-row: 5/5;
  grid-column: 2/2;
}
.item9{
   grid-row: 7/7;
  grid-column: 1/1;
}
.item10{
   grid-row: 7/7;
  grid-column: 2/4;
}
.item3 {
  grid-row: 4/6;
  grid-column: 1/1;
}
.item11 {
  grid-row:6/6 ;
  grid-column:1/3;
}
.item12 {
  grid-row:5/7;
  grid-column:3/3;
}
  #slider,.image {
  width: 236px;
  height: 236px;
  }
  .gallery-btns { 
  padding-bottom: 18px;
  gap: 24px;
  }
#skillHeading,
#toolHeading,.inter-heading {
  font-size: 28px;
  font-weight: 700;
}
.skill-icons {
  width: 36px;
  height:36px;
}
.skill-gap{
  gap:19px;
}
#tool{
  padding: 12px 0;;
}
#skill{
  padding: 14px 0;;
}
.tool-gap {
  gap: 16px;
}
.icon-name-pairing,
.tool-name-pairing {
  width: fit-content;
  gap:16px;
}
.interactions-thumbnail{
  width: 90px;
  height:50px;
  border-radius: 10px;
  
}
.inter-contents{
  gap:10px;
}
#project1,
#project2 {
  padding:24px;
  gap: 8px;
}
.prj-thumb-img {
  width: 180px;
  height: 220px;
  border-radius: 20px;
}
.parent-prj-thumbnail {
    width: 800;
    height: 350px;
}


}
@media screen and (max-width:799px){
  #header{
    display: grid;
    width: 442px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    gap:60px;
    padding: 0;
  } 
  #project-header{
    width: 442px;
  }
  .prj-thumb-img {
    width: 140px;
    height: 180px;
  }
  #contact{
    margin-left: 154px;
   }
   #mode{
    margin-left: -20px;
   }
  #main {
    margin: 0px auto 100px auto;
    grid-template-columns: repeat(2,234px);
    grid-template-rows: repeat(9,234px);
    gap: 14px;
  }
.item2{
  grid-row:2/2;
  grid-column:2/2 ;
}
.item8{
  grid-row:3/3;
  grid-column:2/2 ; 
}
.item5{
  grid-row:4/4;
  grid-column:1/3 ;  
}
.item3{
  grid-row:5/7;
  grid-column:1/1 ; 
}
.item6{
  grid-row:5/7;
  grid-column:2/2 ; 
}
.item7{
  grid-row:7/9;
  grid-column:2/2 ; 
}
.item10{
  grid-row:8/8;
  grid-column:1/1 ;  
}
.item12{
  grid-row:9/9;
  grid-column:1/1 ; 
}
.item11{
  grid-row:9/9;
  grid-column:2/2 ; 
}
} 
@media screen and (max-width:550px){
  #header,#project-header{
    width: 330px;
  }
  .prj-thumb-img {
    width: 120px;
    height: 160px;
  }
  #contact{
    margin-left:122px;
  }
  #main {
    margin: 0px auto 100px auto;
    grid-template-columns: repeat(1,360px);
    grid-template-rows: repeat(9,360px);
    gap: 20px;
  } 
  #navContainer {
    width: 360px;
    font-size: 14px;
  }
  #name {
    font-size: 40px;
    font-weight: 900;
}
#tagLine, .prj-abb {
  font-size: 20px;
  font-weight: 600;
}
#tagLine{
  width: 200px;
  text-align: left;
}
#about {
  font-size: 16px;
  width: 250px;
  text-align: left;
}
#slider,.image {
  width: 360px;
  height: 360px;
  }
.item1{
  grid-row: 1/1;
  grid-column: 1/1;
}
.item2{
  grid-row: 2/2;
  grid-column: 1/1;
}
.item3{
  grid-row:4/4 ;
  grid-column: 1/1;
}
.item4{
  grid-row:6/6 ;
  grid-column: 1/1;
}
.item5{
  grid-row:3/3 ;
  grid-column: 1/1;
}
.item6{
  grid-row:7/7 ;
  grid-column: 1/1;
}
.item7{
  grid-row:8/8 ;
  grid-column: 1/1;
}
.item8{
  grid-row:5/5 ;
  grid-column: 1/1;
}
.item9{
  grid-row:9/9 ;
  grid-column: 1/1;
  margin-left: 200px;
}
.item10{
  grid-row:9/9;
  grid-column: 1/1;
  margin-left: 200px;
  margin-top: 200px;
}
.item11{
  grid-row:9/9 ;
  grid-column: 1/1;
  margin-top: 200px;
}
.item12,.item11,.item10,.item9{
width: 168px;
height:168px;
}
#instagram,
#twitter,
#github {
  padding: 0px;
}

#bio{
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
#nameTagParent{
  justify-content: flex-start;
  align-items: flex-start;
  gap:10px;
  margin-bottom:12px;
}
#skillList{
  flex-direction:row;
  flex-wrap:wrap;
  padding: 30px;
}
.js-order{
  order: 4;
}
#tool{
  gap:36px;
  padding: 50px 0;
}
.tool-gap{
  gap:30px;
}
.interactions-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
#interCont{
  flex-direction: row;
  flex-wrap: wrap;
  padding: 18px;
}
#nightModeCard{
  margin-left: 12px;
}
.css{
  margin-left: 4px;
}
.prj-thumb-img{
  width:160px ;
  height:180px ;
}
.prj-fot-gap-parent{
  position: relative;
  
}
.prj-fot-gap{
  position: absolute;
  bottom: 52px;
  left:182px;
}
#arrowBtn {
  right: 24px;
  bottom: 10px;
}
#twitterIcon, #githubIcon, #linkedInIcon,#instagramIcon {
  width: 80px;
  height: 50px;
}
.inter-links {
  top: 44px;
  left: 60px;
}
}