:root {
  --bg: #f6f6f6;
  --white: white;
  --lightGrey: rgb(185, 185, 185);
  --black: rgb(0, 0, 0);
  --iconBorder: 1px solid rgba(0, 0, 0, 0.08);
  --projectTab: 1px solid #efe5e5;
  --projectTabbottom: 1px solid #efe5e5;
  --tabbg: #f3f3f3;
  --darkNavColor: rgba(0, 0, 0, 0.5);
}
.dark-theme {
  --bg: rgb(19, 17, 17);
  --white: rgb(35, 33, 33);
  --black: rgb(255, 255, 255);
  --iconBorder: 1px solid rgba(255, 255, 255, 0.08);
  --projectTab: 1px solid #131212;
  --projectTabbottom: 1px solid #131212;
  --tabbg: #313131;
  --darkNavColor: rgba(255, 255, 255, 0.5);
  /* --border:1px solid grey; */
}
::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
  background-color: #c9c6c6;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #464444;
}
body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.flex-col {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.hor-center {
  justify-content: center;
}
.ver-center {
  align-items: center;
}
#main {
  margin: 140px auto 140px auto;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(5, 280px);
  gap: 20px;
}
#header {
  justify-content: space-between;
  width: 1190px;
  margin-top: 70px;
  padding: 0 10px;
}
.nav-active {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 1 !important;
  border-radius: 20px;
}
#mode {
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
}

#mailID {
  font-size: 14px;
  color: var(--black);
}
#navContainer {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  border-radius: 30px;
  background-color: var(--white);
  transition: 0.6s;
  padding: 4px;
  gap: 13px;
  border: var(--border);
}
#project-navContainer {
  color: var(--black);
  background-color: var(--white);
}
.prj-parent-Cont {
  color: var(--black);
}
#contactParent {
  height: 60px;
}

.nav-options {
  transition: 0.2s;
  width: fit-content;
  cursor: pointer;
  color: var(--black);
  opacity: 0.6;
  padding: 6px 16px;
}

.grid-items {
  background-color: var(--white);
  border-radius: 16px;
  transition: 0.8s;
  border: var(--border);
}

.item1 {
  grid-column: 1/3;
}
.item3 {
  grid-row: 1/1;
  grid-column: 4/4;
}
.item4 {
  grid-row: 3/5;
  grid-column: 1/1;
}
.item5 {
  grid-row: 2/2;
  grid-column: 2/4;
}
.item6 {
  grid-row: 4/4;
  grid-column: 4/4;
}
.item7 {
  grid-row: 3/3;
  grid-column: 3/3;
}
.item14 {
  grid-row: 2/2;
  grid-column: 2/2;
}
.item15 {
  grid-row: 2/2;
  grid-column: 3/3;
}
.item17 {
  grid-row: 3/3;
  grid-column: 2/2;
}
.item16 {
  grid-row: 3/3;
  grid-column: 4/4;
}
.item8 {
  grid-row: 2/2;
  grid-column: 4/4;
}
.item9 {
  grid-row: 5/5;
  grid-column: 2/2;
}
.item10 {
  grid-row: 5/5;
  grid-column: 3/3;
}

.item11 {
  grid-row: 5/5;
  grid-column: 1/1;
}
.item12 {
  grid-row: 4/4;
  grid-column: 2/4;
}
.item13 {
  grid-row: 2/2;
  grid-column: 1/1;
}
.item18 {
  grid-row: 5/5;
  grid-column: 4/4;
}
/*bio*/
#bio {
  position: relative;
  gap: 12px;
  padding: 0px 30px;
  overflow: hidden;
}
.main-image-bg {
  position: absolute;
  top: -140;
  right: -150;
  /* background-color: #f09433; */
  background: fixed;
  width: 200px;
  height: 200px;
  border-radius: 567px;
  transition: 0.2s;
  overflow: hidden;
}
.main-image {
  /* background-color: #f09433; */
  /* background: fixed; */
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 267px;
  transition: 0.2s;
  /* scale: 1.2; */
}
#bio:hover .main-image-bg {
  top: 10;
  right: 10;
  transition: 0.2s;
}
#name,
#profName,
#skill,
#techtips,
#githubView {
  color: var(--black);
}
.learned-skill-lists {
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 10px;
}
#name {
  font-size: 40px;
  font-weight: 900;
}
/*project.html*/

.parent-prj-thumbnail {
  width: 1000;
  height: 400px;
  background-color: grey;
  border-radius: 30px;
}
#profName {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.5;
}
#bioAbout {
  font-size: 18px;
  width: 480px;
  text-align: left;
  opacity: 0.5;
  color: var(--black);
}
.gap-bio {
  gap: 30px;
}

/*gallery*/
#slider {
  position: relative;
  border-radius: 16px;
  width: 280px;
  height: 280px;
  overflow: hidden;
}
.slides {
  display: flex;
  height: 280px;
  width: 500%;
  border-radius: 16px;
}
.slide {
  width: 20%;
  border-radius: 16px;
  transition: 0.6s;
}
.image {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
}
.gallery-btns {
  position: absolute;
  gap: 40px;
  border-radius: 12px;
  padding-bottom: 16px;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: center;
}
#prev,
#next {
  cursor: pointer;
  transition: 0.6s ease;
  width: 36px;
  height: 36px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
#prev:hover,
#next:hover {
  transition: 0.6s ease;
  box-shadow: 0px 0px 0px 8px rgba(181, 179, 179, 0.6);
}
.radio-btns {
  gap: 8px;
}
.dot {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px;
  border-radius: 6px;
}
.active,
.dot:hover {
  background-color: rgba(255, 255, 255, 1);
}

/*skill*/
#skill {
  padding: 30px 30px;
}
.skill-name {
  font-size: 14px;
  color: rgb(101, 101, 101);
}
#skillHeading,
#toolHeading,
.inter-heading,
.techtips-heading,
#githubView-heading {
  font-size: 22px;
  font-weight: 600;
  opacity: 0.5;
}
.mini-projects-heading {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
}
#toolHeading {
  align-self: flex-start;
  padding-left: 20px;
}
.mini-projects-view-tab {
  position: absolute;
  top: 10px;
  right: -45px;
  width: 42px;
  height: 80px;
  border-radius: 6px;
  border: var(--projectTab);
  transition: 0.4s;
}
.mini-live-btn,
.mini-source-btn {
  width: 42px;
  height: 40px;
  padding: 10px;
}
.mini-live-btn {
  border-bottom: var(--projectTabbottom);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.mini-source-btn {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.mini-live-btn:hover,
.mini-source-btn:hover {
  background-color: var(--tabbg);
}
/* .skill-icons {
  width: 32px;
  height: 32px;
}*/
.tool-icons {
  width: 32px;
  height: 32px;
}
.skill-gap,
.tool-gap {
  gap: 24px;
}
.icon-border {
  border-radius: 8px;
  padding: 8.5px;
}
/* .h5:hover #h5-icon{
  box-shadow: 1px 1px 8px rgb(212, 209, 209);
} */
.icon-border,
.tool-border {
  border: var(--iconBorder);
}
.tool-border {
  border-radius: 24px;
  padding: 6px;
}
/*github*/
/* #githubView{

} */

/*techtips*/

#techtips,
#githubView {
  padding: 20px;
  gap: 10px;
}
#techtips-heading,
#githubView-heading {
  padding: 20px 30px;
}
.techtips-intro {
  font-size: 18px;
  line-height: 27px;
  opacity: 0.5;
}
.techtips-content {
  gap: 32px;
  justify-content: space-between;
}
/*tool*/
.tool-used-lists {
  grid-template-columns: repeat(4, 46px);
  grid-template-rows: repeat(3, 46px);
  gap: 10px;
}
#tool {
  padding: 20px 0px;
  justify-content: space-around;
  color: var(--black);
}

/*interaction*/
#interaction {
  padding: 20px 0px;
}
#interaction a {
  color: black;
}
.inter-external-link {
  width: 20px;
  height: 20px;
  visibility: hidden;
  transition: 0.1s;
  color: var(--black);
  font-size: 15px;
}
/* #interaction:hover  .link-name-parent{
  filter: blur(2px);
} */
li:hover ul {
  filter: blur(2px);
  transition: 0.2s;
}
li:hover ul:hover {
  filter: blur(0px);
  transition: 0.2s;
}
ul:hover .inter-external-link {
  visibility: visible;
  transition: 0.2s;
}

.social-media-box {
  display: flex;
  flex-direction: column;
}
#linkedIn {
  background-color: rgb(2, 136, 209);
}
#twitter {
  gap: 8px;
  /* background-color: rgb(3, 141, 255); */
  background-color: rgb(0, 0, 0);
}
#resume {
  background-color: rgb(0, 0, 0);
  
}
#github {
  gap: 10px;
  background-color: rgb(0, 0, 0);
}
#instagram {
  gap: 10px;
  padding: 110px 0px;
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
#twitter,
#github {
  padding: 100px 0px;
}
#instagramIcon {
  width: 60px;
  height: 60px;
  transition: 0.2s;
}
#twitterIcon,
#githubIcon,
#linkedInIcon,
#resumeIcon {
  transition: 0.2s;
  width: 80px;
  height: 80px;
}
.social-media-box:hover > .icon-rotate {
  transform: rotate(-20deg) translateY(-16px);
  transition: 0.2s;
}
.social-media-box:hover > .social-media-btn {
  font-size: 14px;
  font-weight: 600;
  color: white;
  transform: translateY(-10px);
  transition: 0.2s;
}
.social-media-btn {
  font-size: 0px;
  transition: 0.2s;
}
.social-media-btn:hover {
  cursor: pointer;
  background-color: rgb(43, 43, 43);
  border-radius: 20px;
  padding: 8px 18px;
}
.icon-rotate {
  transition: 0.2s;
}
#project {
  justify-content: end;
  /* background: url("assets/projectBG.jpg");
  background-size: cover;
  position: relative; */
  overflow: hidden;
  background-color: rgb(21, 21, 21);
}
.proj1-main {
  padding: 24px;
  gap: 20px;
}
.proj1-heading,
.built {
  font-size: 22px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
}
.proj1-name {
  font-size: 28px;
  font-weight: 600;
  color: white;
}
/* .project1-back-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(
    360deg,
    #000000 0%,
    rgba(0, 0, 0, 0.97) 42%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 16px;
} */
#project:hover .proj1-main {
  transform: translateY(14px);
  transition: 0.6s;
}

.proj1-main {
  transform: translateY(130px);
  transition: 0.6s;
}

#projBtn1,
#projBtn2 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 8px 48px;
  border-radius: 20px;
}
#projBtn1 {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#techtipsBtn {
  align-self: center;
  width: fit-content;
  padding: 8px 70px;
  border-radius: 20px;
}
#projBtn2,
#techtipsBtn {
  background-color: var(--black);
  color: var(--white);
}
.proj1-tech-icon {
  width: 34px;
  height: 34px;
}
.proj1-tech-icon-js {
  width: 37px;
  height: 37px;
}
.proj1-btns-parent {
  gap: 10px;
}

a {
  text-decoration: none;
}
#interaction,
.mini-projects {
  position: relative;
  color: var(--black);
  gap: 14px;
  padding: 30px 24px;
}

.mini-projects:hover > .mini-projects-thumbnail {
  bottom: 0px;
  right: 0px;
  transition: 0.4s;
}
.mini-projects:hover > .mini-projects-view-tab {
  right: 10px;
  transition: 0.4s;
}
.mini-projects:hover > .mini-projects-heading,
.mini-projects:hover > .mini-projects-contents {
  filter: blur(2px);
}
.mini-projects-contents {
  opacity: 0.5;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.mini-projects {
  overflow: hidden;
}
.mini-projects-thumbnail {
  position: absolute;
  bottom: -100px;
  right: -180px;
  transition: 0.4s;
  width: 232px;
  height: 152px;
  border-radius: 8px;
}
.qr-border {
  border: 1px solid rgb(231, 230, 230);
}
.inter-contents {
  gap: 16px;
  padding-right: 8px;
  overflow-y: scroll;
}
.inter-gap {
  gap: 6px;
}
.inter-thumbnail {
  width: 232px;
  height: 133px;
  border-radius: 8px;
}

.mini-projects-name {
  font-size: 18px;
  font-weight: 700;
  opacity: 0.7;
}
.inter-name {
  font-size: 14px;
  opacity: 0.7;
  margin-right: 4px;
  color: var(--black);
}

#proj2Btn {
  left: 15px;
}
.right-arrow {
  transform: translateX(4px);
  transition: 0.4s;
}
#projBtn1:hover .right-arrow,
#projBtn2:hover .right-arrow,
#techtipsBtn:hover .right-arrow {
  transform: translateX(12px);
  transition: 0.4s;
}

.footer {
  width: 1180px;
  justify-content: space-between;
  padding: 30px 0px 70px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 600;
  font-weight: 500;
  margin-right: 8px;
  color: var(--black);
}
.mail-id {
  color: var(--black);
}

@media screen and (min-width: 1240px) {
  #main {
    margin: 140px auto 140px auto;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(5, 280px);
    gap: 20px;
  }
  #header {
    justify-content: space-between;
    width: 1190px;
    margin-top: 70px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 1239px) {
  #main {
    margin: 140px auto 140px auto;
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(5, 240px);
    gap: 20px;
  }
  #header {
    width: 1040px;
  }
  #bioAbout {
    width: 420px;
  }

  .footer {
    width: 1012px;
  }
  #slider,
  .image {
    width: 240px;
    height: 240px;
  }
  .learned-skill-lists {
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(3, 40px);
    gap: 10px;
  }
  .tool-icons {
    width: 24px;
    height: 24px;
  }
  #skill {
    padding: 30px 20px;
  }
  .skill-gap {
    gap: 16px;
  }
  .learned-skill-lists {
    gap: 12px;
  }
  .tool-used-lists {
    gap: 6px;
  }
  .icon-border {
    border-radius: 8px;
    padding: 5px;
  }
  .tool-border {
    border-radius: 30px;
    padding: 10px;
  }
  #techtipsBtn {
    align-self: center;
    width: fit-content;
    padding: 5px 45px;
    border-radius: 20px;
  }
  .techtips-content {
    gap: 10px;
    justify-content: space-between;
  }
  .techtips-intro {
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
  }
  .mini-projects-contents {
    opacity: 0.5;
    font-size: 18px;
    line-height: 24px;
  }
  .mini-projects-thumbnail {
    bottom: -119px;
    right: -186px;
  }
  .proj1-main {
    transform: translateY(146px);
    transition: 0.6s;
  }
  #interaction,
  .mini-projects {
    gap: 8px;
  }
  #projBtn1,
  #projBtn2 {
    padding: 8px;
  }
  .proj1-main {
    transform: translateY(127px);
  }
}
@media screen and (max-width: 1100px) {
  #main {
    margin: 140px auto 140px auto;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(7, 240px);
    gap: 12px;
  }
  #header {
    width: 770px;
  }
  .mini-projects-thumbnail {
    width: 202px;
    height: 132px;
  }
  .footer {
    width: 730px;
  }
  .item1 {
    grid-area: 1/1/1/3;
  }
  .item2 {
    grid-area: 1/3/1/3;
  }
  .item3 {
    grid-area: 2/2/2/2;
  }
  .item4 {
    grid-area: 5/1/7/1;
  }
  /* .item5 {
    grid-area: ;
  } */
  .item6 {
    grid-area: 4/3/4/3;
  }
  .item7 {
    grid-area: 3/1/3/1;
  }
  .item8 {
    grid-area: 2/1/2/1;
  }
  .item9 {
    grid-area: 6/2/6/2;
  }
  .item10 {
    grid-area: 6/3/6/3;
  }
  .item11 {
    grid-area: 7/1/7/3;
  }
  .item12 {
    grid-area: 5/2/5/4;
  }
  .item13 {
    grid-area: 2/3/2/3;
  }
  .item14 {
    grid-area: 3/2/3/2;
  }
  .item15 {
    grid-area: 3/3/3/3;
  }
  .item16 {
    grid-area: 4/2/4/2;
  }
  .item17 {
    grid-area: 4/1/4/1;
  }
  .item18 {
    grid-area: 7/3/7/3;
  }
}
@media screen and (max-width: 820px) {
  #main {
    margin: 140px auto 140px auto;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(10, 240px);
    gap: 12px;
  }
  #navContainer,
  #mailID,
  .footer {
    font-size: 10px;
  }

  #header {
    width: 500px;
  }
  .footer {
    width: 490px;
  }
  .item1 {
    grid-area: 1/1/1/3;
  }
  .item2 {
    grid-area: 2/1/2/1;
  }
  .item3 {
    grid-area: 2/2/2/2;
  }
  .item4 {
    grid-area: 7/1/9/1;
  }
  /* .item5 {
    grid-area: ;
  } */
  .item6 {
    grid-area: 6/2/6/2;
  }
  .item7 {
    grid-area: 4/1/4/1;
  }
  .item8 {
    grid-area: 3/1/3/1;
  }
  .item9 {
    grid-area: 7/2/7/2;
  }
  .item10 {
    grid-area: 8/2/8/2;
  }
  .item11 {
    grid-area: 10/1/10/1;
  }
  .item12 {
    grid-area: 9/1/9/3;
  }
  .item13 {
    grid-area: 3/2/3/2;
  }
  .item14 {
    grid-area: 4/2/4/2;
  }
  .item15 {
    grid-area: 5/1/5/1;
  }
  .item16 {
    grid-area: 6/1/6/1;
  }
  .item17 {
    grid-area: 5/2/5/2;
  }
  .item18 {
    grid-area: 10/2/10/2;
  }
}
@media screen and (max-width: 549px) {
  #main {
    margin: 60px auto 60px auto;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(14, 300px);
    gap: 12px;
  }

  #slider,
  .image {
    width: 300px;
    height: 300px;
  }
  #mode {
    top: 20px;
    right: 20px;
  }
  #header {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  #name {
    font-size: 26px;
    font-weight: 800;
  }
  #profName {
    font-size: 14px;
    font-weight: 600;
  }
  #bio {
    overflow: visible;
    padding: 90px 30px 30px;
  }
  #name {
    width: 180px;
  }
  .main-image-bg {
    top: -49px;
    right: -17px;
  }
  #bio:hover .main-image-bg {
    top: -49px;
    right: -17px;
    transition: 0.2s;
  }

  #bioAbout {
    font-size: 14px;
    width: 240px;
    text-align: left;
    opacity: 0.5;
    color: var(--black);
  }
  .learned-skill-lists {
    grid-template-columns: repeat(4, 46px);
    grid-template-rows: repeat(3, 46px);
    gap: 10px;
  }
  .tool-used-lists {
    grid-template-columns: repeat(4, 44px);
    grid-template-rows: repeat(3, 44px);
    gap: 10px;
  }
  .skill-gap {
    gap: 24px;
  }
  .tool-icons {
    width: 32px;
    height: 32px;
  }
  .tool-border {
    padding: 6px;
  }
  .techtips-intro {
    font-size: 16px;
    line-height: 27px;
    opacity: 0.5;
  }
  #techtips {
    padding: 33px;
    gap: 20px;
  }
  .techtips-content {
    gap: 30px;
  }
  .mini-projects {
    gap: 14px;
    padding: 40px;
  }
  .mini-projects-thumbnail {
    width: 232px;
    height: 152px;
  }
  li:hover ul {
    filter: blur(0px);
  }
  .inter-external-link {
    visibility: visible;
  }
  .footer {
    width: 300px;
  }
  .item1 {
    grid-area: 1/1/1/1;
  }
  .item2 {
    grid-area: 2/1/2/1;
  }
  .item3 {
    grid-area: 3/1/3/1;
  }
  .item4 {
    grid-area: 12/1/14/1;
  }
  /* .item5 {
    grid-area: ;
  } */
  .item6 {
    grid-area: 11/1/11/1;
  }
  .item7 {
    grid-area: 6/1/6/1;
  }
  .item8 {
    grid-area: 4/1/4/1;
  }
  .item9,
  .item18,
  .item10,
  .item11,
  .item12 {
    grid-area: 14/1/14/1;
    width: 140px;
    height: 140px;
  }
  #instagram,
  #github,
  #twitter {
    padding: 0;
  }
  .item12 {
    transform: translate(160px, 0px);
  }
  .item9 {
    transform: translate(0px, 160px);
  }
  .item10 {
    transform: translate(160px, 160px);
  }

  .item13 {
    grid-area: 5/1/5/1;
  }
  .item14 {
    grid-area: 7/1/7/1;
  }
  .item15 {
    grid-area: 8/1/8/1;
  }
  .item16 {
    grid-area: 10/1/10/1;
  }
  .item17 {
    grid-area: 9/1/9/1;
  }
  .item18 {
    grid-area: 15/1/15/1;
    width: 300px;
  }
  #twitterIcon,
  #githubIcon,
  #linkedInIcon,
  #resumeIcon {
    transition: 0.2s;
    width: 60px;
    height: 60px;
  }
  #instagramIcon {
    width: 40px;
    height: 40px;
    transition: 0.2s;
    transform: translateY(10px);
    margin-bottom: 8px;
  }
  #twitter,
  #github {
    gap: 0px;
  }

  #githubIcon {
    transform: translateY(-5px);
    gap: 0px;
  }
  .social-media-box:hover > .icon-rotate {
    transform: rotate(0deg) translateY(0px);
    transition: 0.2s;
  }
  .icon-rotate {
    transform: rotate(0deg) translateY(0px);
    transition: 0.2s;
  }
  .social-media-btn {
    font-size: 10px;
    font-weight: 500;
    color: white;
    transform: translateY(0px);
    transition: 0.2s;
  }
  .social-media-box:hover > .social-media-btn {
    font-size: 10px;
    font-weight: 500;
    color: white;
    transform: translateY(0px);
    transition: 0.2s;
  }
  .social-media-btn {
    cursor: pointer;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    padding: 3px 6px;
  }
  .social-media-btn:hover {
    padding: 3px 6px;
  }
}
